		<div class="tpl-list" ng-controller="SkylanderListCtrl">
			<div class=".container-fluid">
				<div id="character-search">
					Search: <input ng-model="search">
				</div>
			</div>
			<ul id="character-listing" class=".container-fluid">
				<li ng-repeat="skylander in skylandersRaw.characters | filter:{ id: search }" class="row character-container">
					<a href="#/characters/{{ skylander.id }}">
						<span class="game-logo col-xs-4"><img ng-src="{{ games[skylander.game].logo }}"></span>
						<span class="id col-xs-4">{{skylander.nameHonorific + ' ' + skylander.nameBase }}</span>
						<!-- <span class="toy-image"><img src="http://skylanders.com/content/dam/atvi/skylanders/base/characters-v2/toy/{{ skylander.id }}.png"></span> -->
						<span class="toy-image col-xs-4"><img ng-src="images/toys/{{ skylander.id }}.png"></span>
						<!--<span class="tag-line">{{skylander.tagline}}</span>-->
					</a>
				</li>
			</ul>
		</div>