<div class="tpl-detail">
	<header>
		<div class="detail-toy-image-container">
			<a ng-href="images/toys/{{ selectedSkylander.id }}.png">
				<img ng-src="images/toys/{{ selectedSkylander.id }}.png" class="detail-toy-image">
			</a>
		</div>
		<div class="detail-title-byline-container">
			<h1 class="detail-character-name">{{ selectedSkylander.nameHonorific + ' ' + selectedSkylander.nameBase }}</h1>
			<h2>{{selectedSkylander.tagline}}</h2>
		</div>
	</header>
	<div class="icon-container">
		<!--<div class="{{ games[selectedSkylander.game].iconClass }}"></div>-->
		<div class="{{ selectedSkylander.element }}-icon"></div>
		<div class="{{ attr_name }}-icon" ng-repeat="( attr_name, attr_val ) in selectedSkylander.is"></div>
	</div>
	<!-- element, version, is, game? -->
	<ul class="details-stats-list">
		<li ng-repeat="stat_name in stat_names track by $index" ng-show="!$last">
			<span>{{ stat_name }}: </span>
			<span>{{ selectedSkylander.stats[$index] }}/{{ selectedSkylander.stats[4] }}</span>
			<div class="stat-container" style="width: 300px;">
				<div class="stat-bar" style="width: {{ ( selectedSkylander.stats[$index] / selectedSkylander.stats[4] ) * 300 }}px;">
			</div>
		</li>
	</ul>	
	<p>{{ selectedSkylander.story.start }}</p>
	{{ selectedSkylander.story.body }}

</div>