<div class="tpl-detail">
	<div class="toy-image-container"><img ng-src="images/toys/{{ selectedSkylander.id }}.png" class="toy-image"></div>

	<h1>{{ selectedSkylander.nameHonorific + ' ' + selectedSkylander.nameBase }}</h1>

	<p>{{selectedSkylander.tagline}}</p>
	<p>{{selectedSkylander.story.start}}</p>
	{{selectedSkylander.story.body}}

	<!-- <ul class="phone-thumbs">
	  <li ng-repeat="img in phone.images">
	    <img ng-src="{{img}}">
	  </li>
	</ul> -->

	<ul class="specs">
	<!--   <li>
	    <span>Availability and Networks</span>
	    <dl>
	      <dt>Availability</dt>
	      <dd ng-repeat="availability in phone.availability">{{availability}}</dd>
	    </dl>
	  </li> -->
	    ...
	  <li>
	    <span>Additional Features</span>
	    <dd>{{phone.additionalFeatures}}</dd>
	  </li>
	</ul>
</div>