<!doctype html>
<html lang="en" ng-app="skylandersApp">
	<head>
		<meta charset="utf-8">
		<title>Skylanders Checklist</title>
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="style.css">
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-route/angular-route.js"></script>
		<script src="js/controllers.js"></script>
	</head>
	<body ng-controller="SkylanderListCtrl">
		Search: <input ng-model="search">
		<ul id="character-listing" class=".container-fluid">
			<li ng-repeat="skylander in skylanders.characters | filter:{ id: search }" class="row">
				<span class="game-logo"><img src="{{ games[skylander.game].logo }}"></span> | 
				<span class="id">{{skylander.nameHonorific + ' ' + skylander.nameBase }}</span> | 
				<!-- <span class="toy-image"><img src="http://skylanders.com/content/dam/atvi/skylanders/base/characters-v2/toy/{{ skylander.id }}.png"></span> -->
				<span class="toy-image"><img src="images/toys/{{ skylander.id }}.png"></span>
				<!--<span class="tag-line">{{skylander.tagline}}</span>-->
			</li>
		</ul>
	</body>
</html>