
/* -------------------------------------------*/
ul#character-listing li {
	list-style-type: none;
	height: 100px;
}

ul li span.game-logo img {
	max-width: 100%;
	max-height: 100%;
}

ul li span.toy-image-thumb img {
	max-height: 100%;
	max-width: 100%;
}

#character-listing span {
	background: #FEE;
}

div .character-search {
	/*top: -10px;*/
}

#navmenu-container {
	/*background: #AAA;*/
}

.navbar {
	margin-bottom: 0;
}

/* Detail Page */
/* -------------------------------------------*/
/* 

#022D31 - Dark background
#083A40 - Lighter dark background/horizontal bars
#D2C7B9 - Grey Text

*/

.tpl-detail {
	color: #D2C7B9;
	background-color: #022D31;
}

.tpl-detail .detail-toy-image {
	margin-top: -100px;
/*	background-image: linear-gradient { to bottom,
		#AAA 0,
		#AAA 250px, 
		#444 240px,
		#444 300px
	};*/
}

.tpl-detail .detail-toy-image-container {
	background-color: #AAA;
	height: 300px;
	overflow: hidden;
	bottom: 0;
	display: block;
	position: absolute;
	width: 100%;
}

.tpl-detail .detail-toy-image-container img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Image caption in mobile */
.tpl-detail header {
	height: 300px;
	position: relative;
}

.tpl-detail .detail-title-byline-container {
	background-color: rgba(0, 0, 0, .6);
	color: #FFF;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 10px;
}

/* Resets default behavior */
.tpl-detail .detail-title-byline-container h1,
.tpl-detail .detail-title-byline-container h2 {
	margin-top: 0px;
	margin-bottom: 0px;
}

.tpl-detail .detail-title-byline-container h2 {
	font-size: 20px;
	font-style: italic;
}

.tpl-detail .details-stats-list {
	list-style-type: none;
	padding: 0;
	margin: 0 auto;
	width: 300px;
}

.tpl-detail .stat-container {
	background-color: #D2C7B9;
	border-radius: 2px;
}

.tpl-detail .stat-bar {
	border-radius: 2px;
	height: 10px;
	background: white;

}

.tpl-detail .detail-bio {
	font-size: 20px;
	padding: 15px;
}




/* Elements */

.tech-icon   { height: 50px; width: 50px; background: url(/images/factions/icon-tech.svg) no-repeat center }
.air-icon    { height: 50px; width: 50px; background: url(/images/factions/icon-air.svg) no-repeat center }
.water-icon  { height: 50px; width: 50px; background: url(/images/factions/icon-water.svg) no-repeat center }
.fire-icon   { height: 50px; width: 50px; background: url(/images/factions/icon-fire.svg) no-repeat center }
.life-icon   { height: 50px; width: 50px; background: url(/images/factions/icon-life.svg) no-repeat center }
.earth-icon  { height: 50px; width: 50px; background: url(/images/factions/icon-earth.svg) no-repeat center }
.magic-icon  { height: 50px; width: 50px; background: url(/images/factions/icon-magic.svg) no-repeat center }
.undead-icon { height: 50px; width: 50px; background: url(/images/factions/icon-undead.svg) no-repeat center }

.dark-icon  { height: 50px; width: 50px; background: url(/images/factions/icon-dark.svg) no-repeat center }
.light-icon { height: 50px; width: 50px; background: url(/images/factions/icon-light.svg) no-repeat center }

/* Other */

.giant-icon      { height: 50px; width: 50px; background: url(/images/factions/icon-giant.svg) no-repeat center }
.mini-icon       { height: 50px; width: 50px; background: url(/images/factions/icon-minis.svg) no-repeat center }
.swapforce-icon  { height: 50px; width: 50px; background: url(/images/factions/icon-swapforce.svg) no-repeat center }
.lightcore-icon  { height: 50px; width: 50px; background: url(/images/factions/icon-lightcore.svg) no-repeat center }
.trapMaster-icon { height: 50px; width: 50px; background: url(/images/factions/icon-trap-team.svg) no-repeat center }
.eons-elite-icon { height: 50px; width: 50px; background: url(/images/factions/icon-eons-elite.svg) no-repeat center }
.drivers-icon    { height: 50px; width: 50px; background: url(/images/factions/drivers-tech.svg) no-repeat center }
.vehicles-icon   { height: 50px; width: 50px; background: url(/images/factions/vehicles-tech.svg) no-repeat center }
.series2-icon    { height: 50px; width: 50px; background: url(/images/factions/icon-series2.svg) no-repeat center }
.series3-icon    { height: 50px; width: 50px; background: url(/images/factions/icon-series3.svg) no-repeat center }
.series4-icon    { height: 50px; width: 50px; background: url(/images/factions/icon-series4.svg) no-repeat center }

.icon-container {
	text-align: center;
}

.icon-container div {
	display: inline-block;
	margin: 5px 16px;
}

/* -------------------------------------------*/